

.header{
  text-align: center;
  padding: 5% 0 5%;
  background-color: #83b582;
  color: #ffffc5;
}

form{
  display: none;
}

.hidden{
  padding: 100px;
}

#kotlin, #r, #java, #swift, #js, #matlab, #python, #flutter{
  display: none;
}
