.header{
  text-align: center;
  padding: 5% 0 5%;
  background-color: #83b582;
  color: #ffffc5;
}
.header p{
  padding:0 10% 0;
}
.jumbotron{
  margin:10px 0 0;
}
form{
  display: none;
  margin: none;
  padding: 20px 40px 20px;
  background-color: #d6e4aa;
  color: #83b582;
}

form button{
  margin-top: 10px;
}
.question{
  padding-bottom: 10px;
}

a{
  color: #83b582;
}

.hidden{
  background-color: #ffffc5;
}

#kotlin, #r, #java, #swift, #js, #matlab, #python, #flutter{
  display: none;
}
